@import "../theme/scss/main.scss";

#banner {
  h1 {
  			font-family: "Playfair Display SC", serif;
  }
}

body, input, select, textarea {
  font-family: "Playfair Display", serif;
}

#header {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: -15px;
  padding: 40px;
  .logo {
    a {
      color: #000;
    }
  }
  ul {
    display: inline-block;
    list-style: none;
    position: relative ;
    top: 1em;
    li {
      display: inline-block;
      img {
        height: 2em;
      }
    }
  }
}
