@import "../theme/scss/main.scss";

#banner {
  h1 {
  			font-family: "Playfair Display SC", serif;
  }
}

body, input, select, textarea {
  font-family: "Playfair Display", serif;
}

#header {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: -15px;
  padding: 40px;
  color: #000;
  .logo {
    width: 100%;
    & > * {
      float: left;
    }
    .icons {
      float: right;
      position: relative;
      right: 50px;
      a {
          color: #3D2B1A;
          &:hover {
            color: #8A6340;
          }
      }
    }
  }
  ul {
    display: inline-block;
    list-style: none;
    position: relative ;
    top: 1em;
    li {
      display: inline-block;
      img {
        height: 2em;
      }
    }
  }
}

#one {
  footer {
    line-height: 3.5em;
    a {
      i.fa {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  #header {
    .logo {
      ul {
        li {
          img {
            height: 1em;
          }
        }
      }
      .icons {
        display: none;
      }
    }
  }

}
